<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-4 text-center">
          <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/HBOI-color-stacked.png" style="width: 200px">
        </div>  
        <div class="col-sm-4 text-center ">
          &copy 2024 Slade Lab at FAU HBOI. Based on the website template provided by the <a href="https://www.allanlab.org/aboutwebsite.html">Allan Lab</a>.
        </div>    
        <div class="col-sm-4 text-justify border border-dark border-2">
           Contact:<br />
           Dr. Wayne Slade<br />
           FAU Harbor Branch<br />
           5600 US 1 North<br />
           Forth Pierce, FL 34946<br />
           Email: {{ site.email | mailObfuscate }}<br />
           <a href="https://www.fau.edu/hboi/about/location-maps/">Directions and Campus Map</a>
           
        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
