<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3">
          <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/HBOI-color-stacked.png" style="width: 200px">
        </div>  
        <div class="col-sm-3">
          <img src="{{ site.url }}{{ site.baseurl }}/images/1x1.png" style="width: 1px">
        </div>    
        <div class="col-sm-3">
           Contact:<br />
           Dr. Wayne Slade<br />
           Harbor Branch Oceanographic Institute<br />
           Florida Atlantic University<br />
           5600 US 1 North<br />
           Forth Pierce, FL 34946<br />
           (<a href="https://www.fau.edu/hboi/about/location-maps/">Directions and Campus Map</a>)
        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
